.input{
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    padding-top:40px ;
}

input{
    background-color: #B6ECF7;
}
.add-input{
    height: 50px;
    width: 180px;
    border-radius: 15px;
    border: none;
    text-align: center;
}

h1{
    text-align: center;
}

.add-btn{
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    background-color: #4CCCE6;
    margin-left: 15px;
}

.add-task{
    align-items: center;
    justify-content: center;
    display: flex;
}

.modif-input{
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

select{
    height: 30px;
    width: 180px;
    border-radius: 5px;
    border: none; 
    text-align: center;  
    background-color: #B6ECF7;
}

.btn-submit{
    background-color: #0BD8B6;
    border-radius: 15px;
    border: none;
    height: 50px;
    width: 80px;
}

.btn-submit:hover{
    background-color: #0EB39E;
}

.table{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #082C36;
}

.table-fini{
    width: 500px;
    border-radius: 5px;
    margin: auto;
    background-color: #082C36;
}

