.tableaux{
    text-align: center;
    display: block;
    justify-content: center;
    border-radius: 6px;
    margin: auto;
    width: 600px;
    align-items: center;
}

tr{
    padding: 20px;
    text-align: center;
}

th{
    padding: 10px;
    text-align: center;
    color: #4CCCE6;
}

.date-limite{
    width: 300px;
}

.nom{
    width: 100px;
}

.save-btn{
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    background-color: #4CCCE6;
}

.save-btn:hover{
    background-color: #23AFD0;
}

.statut{
    width: 100px;
}

.prio{
    width: 200px;
}

.action{
    width: 300px;
}


.suppr{
    background-color: #CE2C31;
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
}
.suppr:hover{
    background-color: #E5484D;
}

.modif{
    background-color: #4CCCE6;
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.valid{
    background-color: #3DD68C;
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
}

.modif:hover{
    background-color: #23AFD0;
}

.nb-prio{
    border-radius: 10px;
}

.save-btn{
    text-align: center;
    height: 30px;
    width: 30px;
}